<form enctype="multipart/form-data" method="post">

<div class="mb-3">
  <label for="" class="form-label">Nome</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nome">
  
  <label for="" class="form-label">Telefone</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="Telefone">
   
  <label for="" class="form-label">CNH</label>
  <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="Telefone">
</div>

        
        <input name="" id="" class="btn btn-success" type="submit" value="Enviar cadastro">  
</form>